@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a.active {
  background-color: #74B88B !important;
  color: white !important;
}



#video-hero {
  height:100vh;
  width:100%;
  background: white;
  display:flex;
  align-items:center;
  justify-content: center;
}



#video-hero::after {
  width:100%;
  height:100%;
  content: '';
  position:absolute;
  z-index:10;
  top:0;
  left:0;
  background:rgba(0,0,0,0.5)
}


#video-hero video {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:5;
  object-fit:cover;
  font-family:'object-fit: cover';
}

#video-hero .caption {
  position:relative;
  z-index:20;
  text-align:center;
  color:#ffffff;
}

#video-hero .caption h1 {
  text-transform: uppercase;
  font-size:2em;
  font-family: 'Oswald', sans-serif;
  margin-bottom:0.5rem;
}

#video-hero .caption h2 {
  font-weight:400;
  font-size:1.5rem;
  margin:0;
  font-family: 'PT Sans', sans-serif;
}

.ReactModalPortal {
  position: absolute;
  z-index: 1031;
}

@media screen and (min-width:768px)
{
  #video-hero .caption h1 {
    font-size:2.5rem;
  }

  #video-hero .caption h2 {
    font-size:1.75rem;
  }
}

@media screen and (min-width:992px)
{
  #video-hero .caption h1 {
    font-size:3rem;
  }

  #video-hero .caption h2 {
    font-size:2rem;
  }
}



@media screen and (min-width:1200px)
{
  #video-hero .caption h1 {
    font-size:4rem;
  }

  #video-hero .caption h2 {
    font-size:2.5rem;
  }
}